html{
    min-height: 100%;
}

body {
    background-image: linear-gradient(140deg, rgb(207, 47, 152), rgb(106, 61, 236));
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.markdown-body{
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    word-wrap: break-word;
    padding: 30px;
    margin: 30px;
    border: 2px solid rgb(224 133 220 / 70%);
    border-radius: 5px;
    background-color: rgb(232 211 211 / 40%);
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.1);
}

.markdown-body pre{
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    line-height: 1.6;
}

.dashboard {
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    word-wrap: break-word;
    padding: 30px;
    margin: 30px;
    border: 2px solid rgb(224 133 220 / 70%);
    border-radius: 5px;
    background-color: rgb(232 211 211 / 40%);
    color: black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.1);
}
h1, h2, h3{
    color: black;
}

summary{
    color: black;
}
pre[class*="language-"], code{
    text-shadow: none !important;
    background-color: rgba(232, 211, 211, 0.5);
    font-family: "JetBrains Mono", monospace;
}

pre[class*="language-"] .token.punctuation, .token.operator {
    color: inherit; /* Use the default text color for symbols */
    background: none; /* Remove background highlighting for symbols */
}

.copy-to-clipboard-button {
    color: black !important;
}
.copy-to-clipboard-button:hover {
    color: white !important;
}
/* Existing styles */
.links-list a{
    transform: scale(1.05);
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 2px 4px 2px 4px;
}
.links-list a:hover {
    transition: transform 0.3s ease, border 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}
.easy a:hover {
    border: 2px solid rgb(224 133 220 / 70%);
    border-radius: 5px;
    background-color: rgba(0, 255, 0, 0.4);
    color: white;
    font-size: 22px;
}

.medium a:hover {
    border: 2px solid rgb(224 133 220 / 70%);
    border-radius: 5px;
    background-color: rgba(255, 255, 0, 0.4);
    color: white;
    font-size: 22px;
}

.hard a:hover {
    border: 2px solid rgb(224 133 220 / 70%);
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.4);
    color: white;
    font-size: 22px;
}

/* Difficulty level styles */
li.easy{
    color: green;
}
li.medium{
    color: yellow;
}
li.hard{
    color: red;
}

.neetcode{
    text-decoration: none;
    color:#0366d6;
}
li{
    margin: 7px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.4s;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  word-wrap: break-word;
  padding: 10px;
  margin: 10px 10px 10px 10px ;
  border: 2px solid rgb(224 133 220 / 70%);
  border-radius: 5px;
  background-color: rgb(232 211 211 / 30%);
  color: black;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgb(232 211 211 / 70%);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  word-wrap: break-word;
  background-color: rgb(232 211 211 / 40%);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0px 0px 0px 30px;
  border-radius: 5px;
}

table{
    color: black;
}