:root {
  --light-background: white;
  --light-text: #333;

  --dark-background: linear-gradient(to right, #130F40, rgb(7, 76, 99));
  --dark-text: #fff;
}

.dark-mode {
  background: var(--dark-background);
  color: var(--dark-text);
}

.light-mode {
  background: var(--light-background);
  color: var(--light-text);
}

code {
  font-family: monospace;
  color: #c7254e;
  background-color: #f9f2f4;
  padding: 2px 4px;
  border-radius: 4px;
}

.dark-mode code {
  color: #d7df78;
  background-color: #2c53064e;
}

.summary {
  font-size: 1.3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 3px;
}

h2 {
  margin-bottom: 0px;
}

.problems {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.4em;
}

.easy {
  color: green;
}

.medium {
  color: yellow;
}

.hard {
  color: red;
}

a {
  text-decoration: none;
  color: #007bff;
}

hr {
  margin: 0;
  border: 0;
}

.dark-mode hr {
  border-top: 1px solid #afb9a5;
}

.light-mode hr {
  border-top: 1px solid #333;
}